<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta name="keywords" content="app,学习">
    <meta name="description" content="学习用作品">
    <meta name="author" content="MR03">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="wap-font-scale" content="no">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,width=device-width,initial-scale=1.0">
    <title>PictureTalk-图客</title>
    <link rel="styleSheet" href="//cdn.bootcss.com/normalize/4.1.1/normalize.min.css">
    <link rel="styleSheet" href="//cdn.bootcss.com/font-awesome/4.6.2/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/home.css">
    <!--前置js-->
    <script src="/js/remSetting.js"></script>
  </head>
  <body>
    <!--content-->
    <div class="body-container">
      <header id="R-seader"></header>
      <section class="section-container">
        <div id="R-avatar"></div>
        <div id="R-nav"></div>
        <div id="R-show"></div>
      </section>
    </div>
    <!-- js-->
    <script src="/js/home.react.js"></script>
    <script src="//cdn.bootcss.com/jquery/1.12.0/jquery.min.js"></script>
  </body>
</html>