<section class="container-fluid">
    <div class="panel panel-default" ng-controller="ListController">
        <div class="ol breadcrumb">
            <li><i class="fa fa-home"></i></li>
            <li><span>{{breadcrumb.moduleName}}</span></li>
            <li class="active"><span>{{breadcrumb.viewName}}</span></li>
        </div>
        <div class="panel-heading" ng-controller="FilterController">
            <div class="panel panel-info">
                <div class="panel-heading"><span>查询筛选</span></div>
                <div class="panel-body">
                    <form class="form-horizontal">
                        <div class="form-group col-md-4">
                            <div class="col-md-2 text-right">
                                <label class="control-label mr-10">名称</label>
                            </div>
                            <div class="col-md-9">
                                <input type="text" placeholder="查询条件" class="form-control" ng-model="find.name"/>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <div class="col-md-2 text-right">
                                <label class="control-label mr-10">状态</label>
                            </div>
                            <div class="col-md-9">
                                <input type="text" placeholder="查询条件" class="form-control" ng-model="find.status"/>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <div class="col-md-9 col-md-offset-2">
                                <button class="btn btn-primary" type="button" ng-click="find.sumbit()"><span>开始查询</span></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="panel-body" ng-controller="TableController">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <button class="btn btn-primary" ng-click="createView()"><span>新建条目</span></button>
                    <button class="btn btn btn-danger" ng-click="deleteSumbit()"><span>删除选中</span></button>
                </div>
                <h6>双击编辑选中项目</h6>
                <div class="panel-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>
                                <input type="checkbox" ng-checked="save" ng-model="save" ng-init="save = false"/>
                            </th>
                            <th>序号</th>
                            <th>店铺名称</th>
                            <th>logo</th>
                            <th>店铺地址</th>
                            <th>开店时间</th>
                            <th>状态</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr ng-repeat="list in data" ng-dblclick="updateView(list.account_id)">
                            <td class="table-checkbox">
                                <input type="checkbox" ng-checked="list.check" ng-model="list.check" ng-init="list.check = false"/>
                            </td>
                            <td class="col-50">1</td>
                            <td>{{list.shops_name}}</td>
                            <td class="col-70">
                                <div class="portrait-group">
                                    <img src="static/img/admin_users/user.png" alt="用户头像" class="img-responsive" data-echo="{{list.logo}}">
                                </div>
                            </td>
                            <td>{{list.province}}-{{list.city}}-{{list.district}}-{{list.address}}</td>
                            <td>{{list.start}}</td>
                            <td ng-if="list.shops_status == 1">启用</td><td ng-if="list.shops_status == 0" class="text-danger">停用</td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="panel-footer">
                        <div class="pull-right">
                            <button class="btn btn-info active">首页</button>
                            <button class="btn btn-info">上一页</button>
                            <span>
                                <button class="btn btn-info">1</button>
                                <button class="btn btn-info">2</button>
                                <button class="btn btn-info">3</button>
                                <button class="btn btn-info">4</button>
                            </span>
                            <button class="btn btn-info">下一页</button>
                            <button class="btn btn-info">末页</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>