.app-view {
  width: 16rem;
  overflow: hidden; }

.lead-body {
  width: 16rem;
  height: 28.4rem;
  background: url("/assets/img/bg_lead.png") no-repeat;
  background-size: 16rem 28.4rem; }

.lead-body-logo {
  width: 2rem;
  height: 2.45rem;
  background: url("/assets/img/logo_normal.png") no-repeat;
  background-size: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 21rem;
  margin: auto; }

.lead-body-title {
  width: 7rem;
  height: .85rem;
  background: url("/assets/img/title-lead.png") no-repeat;
  background-size: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 13rem;
  margin: auto; }

.lead-body-text {
  width: 10rem;
  height: 3rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 8rem;
  margin: auto; }

.lead-body-text .word {
  text-align: center;
  color: #8d8d8d; }

.lead-body-sign {
  width: 8rem;
  height: 6rem;
  position: absolute;
  top: 21rem;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto; }

.lead-body-sign-btn {
  width: 8rem;
  height: 2rem;
  background: transparent;
  border: .05rem solid #ffffff;
  border-radius: 3rem;
  color: #ffffff; }

.lead-body-sign-btn:active {
  border: none;
  background: #efdecc;
  color: #937f6b; }

.signin-body {
  width: 16rem;
  height: 28.4rem;
  background: url("/assets/img/bg-signin.png") no-repeat;
  background-size: 16rem 28.4rem;
  margin-left: 16rem; }
