<!DOCTYPE html>
<html lang="zh-CN" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8">
    <meta name="keywords" content="app,学习">
    <meta name="description" content="学习用作品">
    <meta name="author" content="MR03">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="wap-font-scale" content="no">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,width=device-width,initial-scale=1.0">
    <title>Elagance</title>
    <link rel="styleSheet" href="//cdn.bootcss.com/font-awesome/4.6.2/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/elagance.css">
    <link rel="stylesheet" href="/assets/css/elagance.lead.v1.css">
    <!--前置js-->
    <script src="/js/remSetting.build.js"></script>
  </head>
  <body>
    <!--spa容器-->
    <div id="spa">
      <div class="view view-black">
        <div className="cut-container" id='cut'>
        <!--lead页-->
          <div class="view-container view-lead cut" id="view-lead">
            <div class="lead-body">
              <div class="lead-body-logo animated fadeInDown"></div>
              <div class="lead-body-title"></div>
              <div class="lead-body-text">
                <h3 class="word">现在，找到自己的节奏</h3>
              </div>
              <div class="lead-body-sign">
                <button v-on:click="signInTo" class="lead-body-sign-btn mt-02r animated fadeIn sign-active-1"><span>登录</span></button>
                <button v-on:click="signUpTo" class="lead-body-sign-btn mt-05r animated fadeIn sign-active-1"><span>注册</span></button>
              </div>
            </div>
          </div>
          <!--sign页-->
          <div class="view-container view-signin" id="view-sign">
            <div class="signin-body">
              <div class="lead-body-logo lead-signin-logo animated fadeInDown"></div>
              <h1 class="lead-signin-title" v-bind:class="{'now': publicState.sign}" v-on:click="toSignUp">登录</h1>
              <h2 class="lead-signin-title" v-bind:class="{'now': !publicState.sign}" v-on:click="toSignIn">注册</h2>
              <div class="sign-form">
                <div class="input-form mb-05r">
                  <input type="text" placeholder="手机号码" class="input-control" v-model="privateState.mobile">
                </div>
                <div class="input-form">
                  <input type="text" placeholder="密码" class="input-control" v-model="privateState.password">
                </div>
                <h6 class="forgot" v-bind:class="{'none': !publicState.sign}">忘记密码?</h6>
              </div>
              <div class="lead-body-sign">
                <button class="lead-body-sign-btn mt-02r animated fadeIn sign-active-2" v-on:click="sign"><span>{{publicState.sign ? '登录' : '注册'}}</span></button>
                <button class="lead-body-sign-btn mt-05r animated fadeIn sign-active-2"><span>随便逛逛</span></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--vue.build-->
    <script src="/js/eLead.build.js"></script>
  </body>
</html>