@charset "UTF-8";

// 后台样式补充

// 重要,避免未渲染闪烁
.ms-controller,.ms-important,[ms-controller],[ms-important]{
  visibility: hidden;
}

th, td, body {
  font-family: "Microsoft YaHei", "simsun", Helvetica, Arial !important;
}

th, td {
  text-align: center;
  vertical-align: middle !important;
}

.table-col-img {
  width: 80px;
}
.table-edit tr:hover {
  background: #eee;
  cursor: pointer;
}

.upLoadInput {
  visibility: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.upLoadWarp {
  width: 100%;
  height: 100%;
}

.upLoadImg {
  width: 100%;
  height: 55px;
  line-height: 55px;
  text-align: center;
}

.upLoadImg .fa {
  line-height: inherit;
}

.upLoadImg > img {
  height: 50px;
}