@charset "UTF-8";

// 微调
.mb-01r {
  margin-bottom: .1rem; }

.mb-02r {
  margin-bottom: .2rem; }

.mb-03r {
  margin-bottom: .3rem; }

.mb-04r {
  margin-bottom: .4rem; }

.mb-05r {
  margin-bottom: .5rem; }

.mt-01r {
  margin-top: .1rem; }

.mt-02r {
  margin-top: .2rem; }

.mt-03r {
  margin-top: .3rem; }

.mt-04r {
  margin-top: .4rem; }

.mt-05r {
  margin-top: .5rem; }

.ml-01r {
  margin-left: .1rem; }

.ml-02r {
  margin-left: .2rem; }

.ml-03r {
  margin-left: .3rem; }

.ml-04r {
  margin-left: .4rem; }

.ml-05r {
  margin-left: .5rem; }

.mr-01r {
  margin-right: .1rem; }

.mr-02r {
  margin-right: .2rem; }

.mr-03r {
  margin-right: .3rem; }

.mr-04r {
  margin-right: .4rem; }

.mr-05r {
  margin-right: .5rem; }

