@charset "UTF-8";

body {
  font-size: .6rem;
  font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #373737;
}

html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  background: transparent;
}

a, img, article, aside, figure, footer, header, nav, section, details, summary {display: block;}

img,
object,
embed {max-width: 100%;}

a {margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: transparent;text-decoration: none}


h1, h2 {
  font-size: .8rem;
}
h3, h4 {
  font-size: .7rem;
}
h5, h6 {
  font-size: .6rem;
}

input, button {
  outline: none !important;
}

ul {list-style: none;}

/*内边距和边框不再会增加它的宽度*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

img {
  width: inherit;
  height: inherit;
}

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {margin: 0;}

/* make buttons play nice in IE */
button,
input[type=button] {width: auto; overflow: visible;}

label,
input[type=button],
input[type=submit],
input[type=file],
button {cursor: pointer;}

html {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}


